@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/home/joe/repos/restaurant-page/src/assets/MyFont1.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* crimson-text-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Crimson Text";
  font-style: normal;
  font-weight: 400;
  src: url("/home/joe/repos/restaurant-page/src/assets/MyFont2.woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
  color: ivory;
  background-color: black;
}

#globalHeaderDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
  font-family: "Josefin Sans";
}

#buttonDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  font-family: "Josefin Sans";
  font-size: 20px;

  height: 25px;
  width: 5rem;
  margin: 1rem;

  color: white;
  background-color: black;
  border: none;
}

button:hover {
  cursor: pointer;
  border-bottom: 2px solid gold;
}

h2 {
  font-family: "Josefin Sans";
}

#contentDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: "Crimson Text";

  background-color: ivory;
  color: black;

  height: 40vh;

  margin-top: 30px;

  padding-top: 20px;
  padding-bottom: 20px;

  border-top: 2px solid gold;
  border-bottom: 2px solid gold;
}

#footerDiv {
  height: 350px;
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  justify-content: center;
  align-items: flex-end;
  font-family: "Crimson Text";
}
